/* Global Styles */

.row {
	margin-bottom: 70px;
}


.name {
  font-weight: bold;
  font-family: "Times New Roman";
  font-size: 230%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.text {
	font-family: "Times New Roman";
	font-size: 180%;
	margin-top: 40px;
  margin-bottom: 500px;
	padding-left: 50px;
}

.photo {
  text-align: center;
}



#name, #photo, #text{
  max-width: 500px;
}